<div class="recipe-text about">
  <br>
  <p><strong>What is Kosher?</strong> As quoted from Chabad.org:</p>
  <p>The Hebrew word “kosher” literally means “fit.” It has come to refer more broadly to anything that is “above board” or “legit.” The laws of kosher define the foods that are fit for consumption for a Jew.</p>

  <p>Here are 2 of the basic kosher laws:</p>
  <ul>
    <li>Only certain species of animals (and their eggs and milk) are permitted for consumption, while others are forbidden—notably pork and shellfish.</li>
    <li>Meat and milk are never combined. Separate utensils are used for each, and a waiting period is observed between eating them.</li>
  </ul>

  <p><strong>Origin and History of Kosher:</strong></p>

  <p>The kosher laws were commanded by God to the Jewish People in the Sinai Desert. Moses taught them to the people and wrote the basics of these laws in Leviticus 11 and Deuteronomy 14. The details were handed down through the generations and eventually written down in the Oral Law. Various ordinances were enacted through the generations by the rabbinical authorities as safeguards for these biblical laws.</p>

  <p>Throughout our 4,000-year history, the observance of kosher has been a hallmark of Jewish identity. Perhaps more than any other mitzvah, the kosher laws emphasize that Judaism is much more than a religion in the conventional sense of the word. To the Jew, holiness is not confined to holy places and times outside the everyday; rather, life in its totality is a sacred endeavor. Even the seemingly mundane activity of eating is a G‑dly act and a uniquely Jewish experience.</p>

  <p><strong>Why did I make this?</strong></p>
  <p>As a former chef, I tend to look at many recipes and analyze its flavor profiles in my head and see what I can do to make it kosher. For most of the kosher keeping world, bland food has become the norm on the table. Using original algorithms for my joint tables for ingredients and suitable substitutes, and regex to take confusion out of the directions by substituting words, K.eF.C. will do all of the leg work of changing the kosher eating world!</p>
</div>