<div class="recipe-text m-0 text-center">
  <br>
  <p><strong>Do you have suggestions or ideas?</strong></p>
  <a href="mailto:a.goldh20@gmail.com" class="btn btn-warning">Click Here to Email me!</a>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#footer').addClass('fixed-bottom');
  })
</script>

