<div class="recipe-text m-0 text-center">
  <br>
  <p><strong>Do you have suggestions or ideas?</strong></p>
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdHr8Yk00xP-ZsHEmv2Iw3viuQvKIHoND1vdYFtiK1isjgGvg/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#footer').addClass('fixed-bottom');
  })
</script>

