// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('background_1.jpg');
  background-attachment: fixed;
}

.directions-recipe, .recipe-text {
  color: #943F15 !important;
  font-family: Verdana;
}

.navbar-color {
  background-color: #B5AA8A;
}

.navbar-text {
  color: #FFFFFF;
  font-family: Verdana;
  margin-left: -70px;
}

.navbar-text:hover {
  color: #63593D;
}

.welcome-text {
  color: #FFFFFF;
  font-family: Verdana;
  margin-top: 2px;
  font-size: 15px;
}

.signup-link:hover {
  color: #63593D;
}

.shifted-right.dropdown-menu {
  left: auto;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);

  .recipe-text {
    font-size: 15px;
  }
}

#top-navbar-dropdown {
  margin-right: -40px;
  width: 275px;
  display: flex;
  justify-content: flex-end;
}


h4.chef-name {
  padding-left: 148px;
}

.directions-recipe {
  padding-left: 50px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
}

.recipe-image {
  border-radius: 10px;
  border: 2px solid #943f15;
  width: 500px;
}

.btn-menu {
  background-color: #FFFAED;
  border-radius: 10px;

}

.btn-search {
  background-color: #FFFAED;
  padding: 0px 10px;
  border-radius: 10px;
  margin-left: 4px;
}

li.adam.adam-list.adam-recipe-list {
   list-style-type: none;
   font-size: 20px;
}

a.recipe-text {
  font-size: 20px;
}

#category-list {
  li {
    list-style: none;
  }
}

.recipe-container {
  padding-left: 40px;
}

.about {
  padding-left: 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;

}

.recipe-text {
  h1 {
  padding-left: 12px;
  }
}

.about {
  strong {
    font-size: 30px;
  }
  h2 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;

  }
}

.about-text {
  text-align: center;
  margin: 0 auto;

  strong {
    font-size: 30px;
  }
  h2 {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 0 15px;
  }
}

.recipe-text.m-0.text-center {
  strong {
    font-size: 35px; 
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
}

#category-list {
  .col-md-4 {
    #row-1, #row-2, #row-3 {
      background: rgba(255, 255, 255, 0.7);
      border-radius: 10px;
      border: 3px solid #F7BE31;
    }
    li.recipe-text {
      strong {
        font-size: 25px;
        text-decoration: underline;
      }
    }
  }
}

.nav-link {
  padding: 0.2rem 1rem;
}



